<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="gardenlawn" translate="label" sortOrder="100">
            <label>GardenLawn</label>
        </tab>
        <section id="trans_eu" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Trans.eu Integration</label>
            <tab>gardenlawn</tab>
            <resource>GardenLawn_TransEu::config</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="client_id" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client ID</label>
                </field>
                <field id="client_secret" translate="label" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Secret</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="api_key" translate="label" type="obscure" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="trans_id" translate="label" type="text" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>TransId</label>
                    <comment>Your Trans.eu ID (e.g. 1242549-1)</comment>
                </field>
                <field id="scopes" translate="label" type="text" sortOrder="48" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Scopes</label>
                    <comment>Space separated list of scopes (e.g. "freights.read offers.create"). Leave empty for default.</comment>
                </field>
                <field id="auth_url" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Auth URL</label>
                </field>
                <field id="api_url" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API URL</label>
                </field>
                <field id="redirect_uri" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Redirect URI</label>
                    <comment>Must match the URI registered in Trans.eu application settings.</comment>
                </field>

                <field id="manual_token" translate="label" type="textarea" sortOrder="75" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Manual Access Token</label>
                    <comment>Paste token from browser session here to override OAuth2 token. Useful for internal API endpoints.</comment>
                </field>

                <field id="authorize_btn" translate="label" type="button" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Authorize</label>
                    <frontend_model>GardenLawn\TransEu\Block\Adminhtml\System\Config\AuthButton</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
